/* custom-scrollbar.css */
.scroll-container::-webkit-scrollbar {
    height: 8px; /* Custom scrollbar height */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Custom scrollbar thumb color */
    border-radius: 4px; /* Rounded corners for scrollbar thumb */
  }
  
  .scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
  }
  